<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Mapping LFE projects on Nbility capabilities</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Mapping LFE projects on Nbility capabilities</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-6a96acf8cfe548e898bf4b9aa811ecc1.png" alt="Mapping LFE projects on Nbility capabilities" usemap="#id-6a96acf8cfe548e898bf4b9aa811ecc1map"/>
			   <map name="id-6a96acf8cfe548e898bf4b9aa811ecc1map">
				  		<area shape="rect" coords="1210,11,1462,95" href="../elements/id-718759.html"  target="element">
				  		<area shape="rect" coords="898,11,1186,95" href="../elements/id-718757.html"  target="element">
				  		<area shape="rect" coords="574,274,803,358" href="../elements/id-16207a66418d49999d89262a9f21301e.html"  target="element">
				  		<area shape="rect" coords="298,274,551,359" href="../elements/id-d90a96971bd04a13a0b9c5fd2fd821a8.html"  target="element">
				  		<area shape="rect" coords="442,454,659,539" href="../elements/id-296955abeece4a20bb07cfe9c010a0d6.html"  target="element">
				  		<area shape="rect" coords="10,274,227,359" href="../elements/id-38892a5d69f64010ad9ac7adba330dfa.html"  target="element">
				  		<area shape="rect" coords="16,454,221,539" href="../elements/id-9e5b2fec9f19480b9b649f563abcd177.html"  target="element">
				  		<area shape="rect" coords="1702,10,1931,95" href="../elements/id-711323.html"  target="element">
				  		<area shape="rect" coords="1474,10,1691,95" href="../elements/id-718379.html"  target="element">
				  		<area shape="rect" coords="23,10,876,95" href="../elements/id-711318.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td> Language=en </td><td class="convertlinks"> <xmp class="no-margin" style="white-space:pre-wrap">not empty</xmp> </td></tr>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-711318.html" target="element"> Energietransport verzorgen </a> </td>
											    <td> <a href="../elements/id-711318.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-718379.html" target="element"> Energietransport herstellen </a> </td>
											    <td> <a href="../elements/id-718379.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-711323.html" target="element"> Transport- en bedieningsplannen maken </a> </td>
											    <td> <a href="../elements/id-711323.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9e5b2fec9f19480b9b649f563abcd177.html" target="element"> CoMPAS </a> </td>
											    <td> <a href="../elements/id-9e5b2fec9f19480b9b649f563abcd177.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-38892a5d69f64010ad9ac7adba330dfa.html" target="element"> Configuration management </a> </td>
											    <td> <a href="../elements/id-38892a5d69f64010ad9ac7adba330dfa.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-296955abeece4a20bb07cfe9c010a0d6.html" target="element"> FledgePower </a> </td>
											    <td> <a href="../elements/id-296955abeece4a20bb07cfe9c010a0d6.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d90a96971bd04a13a0b9c5fd2fd821a8.html" target="element"> secure remote device communication </a> </td>
											    <td> <a href="../elements/id-d90a96971bd04a13a0b9c5fd2fd821a8.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-16207a66418d49999d89262a9f21301e.html" target="element"> secure remote processing </a> </td>
											    <td> <a href="../elements/id-16207a66418d49999d89262a9f21301e.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-718757.html" target="element"> Energietransport besturen </a> </td>
											    <td> <a href="../elements/id-718757.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-718759.html" target="element"> Energienetten in/uit bedrijf nemen op afstand </a> </td>
											    <td> <a href="../elements/id-718759.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-bf0fb1c54569410e9b9bf9b53d2d0355.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bf0fb1c54569410e9b9bf9b53d2d0355.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9e5b2fec9f19480b9b649f563abcd177.html" target="element"> CoMPAS </a> </td>
																		<td> <a href="../elements/id-38892a5d69f64010ad9ac7adba330dfa.html" target="element"> Configuration management </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-87a6ca37616b42b3b5343fd1247dab3c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-87a6ca37616b42b3b5343fd1247dab3c.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-38892a5d69f64010ad9ac7adba330dfa.html" target="element"> Configuration management </a> </td>
																		<td> <a href="../elements/id-711318.html" target="element"> Energietransport verzorgen </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-0ef55d9b2c9c46b9a58a9b19a2c4207f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0ef55d9b2c9c46b9a58a9b19a2c4207f.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-296955abeece4a20bb07cfe9c010a0d6.html" target="element"> FledgePower </a> </td>
																		<td> <a href="../elements/id-d90a96971bd04a13a0b9c5fd2fd821a8.html" target="element"> secure remote device communication </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7fd38dd47ecb473dbdcfd9ea84c447fa.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7fd38dd47ecb473dbdcfd9ea84c447fa.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-296955abeece4a20bb07cfe9c010a0d6.html" target="element"> FledgePower </a> </td>
																		<td> <a href="../elements/id-16207a66418d49999d89262a9f21301e.html" target="element"> secure remote processing </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-98544c9c0e30438ea483cdcbe32bba50.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-98544c9c0e30438ea483cdcbe32bba50.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d90a96971bd04a13a0b9c5fd2fd821a8.html" target="element"> secure remote device communication </a> </td>
																		<td> <a href="../elements/id-711318.html" target="element"> Energietransport verzorgen </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-4f09f57c0b7948d0a630d31aa89f73a1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4f09f57c0b7948d0a630d31aa89f73a1.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-16207a66418d49999d89262a9f21301e.html" target="element"> secure remote processing </a> </td>
																		<td> <a href="../elements/id-711318.html" target="element"> Energietransport verzorgen </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>